body {
	background: #485865;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
body,
a {
	color: white;
	font-size: 15px;
}
a:hover,
a:focus {
	color: #F98459;
	transition: color .2s ease-in-out;
}
h1 {
	font-size: 22px;
}
header, footer {
	overflow: hidden;
	background: #34414c;
}
nav li {
	display: inline;
}
footer {
	clear: left;
}

header h1 {
	float: left;
	padding-left: 25px;
}
header p {
	float: left;
	padding-left: 10px;
}
header nav {
	float: right;
}
footer h1 {
	float: right;
}

.wrapper {
	max-width: 1167px;
	margin: auto;
}
.body-section {
	width: 550px;
	float: left;
	padding: 0 15px 15px 15px;
}


.project {
	height: 350px;
}
.project-header {
	height: 50px;
	background: white;
	color: #ad1c00;
}
.project img {
	max-width: 100%;
	max-height: 100%;
}
.project-image {
	
}

