body {
	background: #485865;
	color: white;
	font-size: 15px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
h1 {
	font-size: 22px;
	margin: 0;
}
a {
	color: white;
	font-size: 14px;
}
nav a {
	padding-right: 10px;
	color: white;
	font-size: 16px;
	text-decoration: none;
}
a:hover,
a:focus {
	color: #F98459;
	transition: color .2s ease-in-out;
}
header, footer {
	overflow: hidden;
	background: #34414c;
	height: 60px;
}

header h1 {
	float: left;
	padding-left: 25px;
}
header p {
	float: left;
	padding-left: 10px;
	margin: 0;
}
header nav {
	float: right;
	padding-right: 50px;
}
.header-wrapper {
	height: inherit;
}
.header-wrapper span {
	height: inherit;
}

footer {
	clear: left;
}
footer nav {
	float: left;
	padding-left: 25px;
}
footer h1 {
	float: right;
	padding-right: 50px;
}
.footer-wrapper {
	height: inherit;
}
.footer-wrapper span {
	height: inherit;
}

.wrapper {
	max-width: 1167px;
	margin: auto;
}
.body-section {
	width: 550px;
	float: left;
	padding: 0 15px 15px 15px;
}
.description-right {
	width: 350px;
	float: left;
	padding: 0 15px 15px 15px;
}
.description-left {
	width: 750px;
	float: left;
	padding: 0 15px 15px 15px;
}
.description {
	padding: 20px 0 30px 0;
}

.project {
	height: 350px;
}
.project-header {
	height: 50px;
	background: white;
	color: #ad1c00;
}
.project img {
	max-width: 100%;
	max-height: 100%;
}

.vertical-center {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
}

