body {
	background: #485865;
	color: white;
	font-size: 15px;
	font-family: 'Arial', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
h1 {
	font-size: 22px;
	margin: 0;
	text-transform: uppercase;
}
a {
	color: white;
	font-size: 15px;
}
nav a {
	padding-right: 10px;
	color: white;
	font-size: 16px;
	text-decoration: none;
}
a:hover,
a:focus {
	color: #F98459;
	transition: color .2s ease-in-out;
}
header, footer {
	overflow: hidden;
	background: #34414c;
	height: 60px;
}

header h1 {
	padding-left: 25px;
}
header p {
	padding-left: 10px;
	margin: 0;
}
header nav {
	padding-right: 50px;
}
.header-wrapper {
	line-height: 60px;
	height: inherit;
}
.header-wrapper span {
	height: inherit;
}

footer {
	clear: left;
}
footer nav {
	padding-left: 25px;
}
footer h1 {
	padding-right: 5px;
}
footer p {
	padding-right: 5px;
	margin: 0;
}
.footer-right {
	padding-right: 50px;
}
.footer-wrapper {
	line-height: 60px;
	height: inherit;
}
.footer-wrapper span {
	height: inherit;
}

.wrapper {
	max-width: 1167px;
	margin: auto;
}
.body-section {
	float: left;
	margin: auto;
	width: 100%;
}
.description-right {
	width: 30%;
	float: left;
	padding: 0 15px 15px 15px;
}
.description-left {
	width: 60%;
	float: left;
	padding: 0 15px 15px 15px;
}
.description {
	padding: 20px 0 30px 0;
	overflow: hidden;
}

.project {
	padding: 10px 0;
}
.project-header {
	text-align: center;
	border-bottom: 1px solid #d5d5cd;
	margin: auto auto 15px auto;
	width: 75%;
}
.project-header a {
	font-size: 22px;
}
.project-header h2 {
	margin: 0;
	font-size: 22px;
}
.project-header span {
	display: block;
	padding: 5px 0 10px 0;
}
.project img {
	max-width: 100%;
	max-height: 100%;
}
.project-image {
	text-align: center;
}
.project-description {
	border-top: 1px solid #d5d5cd;
	width: 75%;
	margin: 15px auto 15px auto;
	border-top: 1px solid #d5d5cd;
}
.about {
	float: left;
	width: 63%;
	padding: 15px;
}
.details {
	float: left;
	width: 25%;
	border-left: 1px solid #d5d5cd;
	padding: 15px;
}
.details h3 {
	margin: 0;
}

.vertical-center {
	display: inline-block;
	vertical-align: middle;	
}
.nojs {
	text-align: center;
	font-size: 30px;
}
.float-right {
	float: right;
}
.float-left {
	float: left;
}

.dark_bg {
	overflow: hidden;
	background: #34414c;
}

@media (max-width: 767px) {
	.description {
		padding: 15px 0 15px 0;
	}
	.description-left {
		width: auto;
		padding: 0 15px;
	}
	.description-right {
		width: auto;
		padding: 0 15px;
	}
	.project-description {
		width: 100%;
	}
	.footer-right {
		padding-right: 25px;
	}
	header nav {
		padding-right: 25px;
	}
	.about {
		width: auto;
		padding: 0 15px;
	}
	.details {
		width: auto;
		border: none;
		padding: 0 15px;
	}
}

@media (max-width: 480px) {
	.subtitle {
		display: none;
	}
	.builtwith {
		display: none;
	}
}
